# Azure Service Principal & Tenant Configuration (Template)
AZURE_TENANT_ID=your-azure-tenant-id
AZURE_CLIENT_ID=your-azure-client-id
AZURE_CLIENT_SECRET_ID=your-client-secret-id
AZURE_CLIENT_SECRET=your-client-secret-value

# ClickHouse & DuckDB Configuration
DUCKDB_PATH=database/duckdb/infra.db
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=default
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=password
